#welcome {
    text-align: center;
    display: block;
}
.page-title {
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
}
p {
    font-size: 17px;
    line-height: 24px;
    margin: 0 0 10px;
    padding: 0;
    font-weight: 300;
}
.mb-40 {
    margin-bottom: 40px!important;
}
.subsection {
    margin-bottom: 40px;
}
.section-title {
    font-size: 16px;
    margin: 0 0 10px;
    padding: 5px 0;
    font-weight: 600;
    border-bottom: 1px solid #f2f2f2;
}
#install table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    margin: 0 0 40px;
    font-size: 14px;
    line-height: 20px;
}
#install table td {
    padding: 10px;
    border-bottom: 1px solid #f5f5f5;
    vertical-align: top;
    text-align: left;
}

#install table td.status {
    font-size: 20px;
    width: 50px;
    text-align: right;
}
.btn-primary {
    color: #fff;
    background-color: #696cff;
    border-color: #696cff;
    box-shadow: 0 .125rem .25rem 0 rgba(105,108,255, .4)
}

.btn-primary:hover {
    color: #fff !important;
    background-color: rgba(105,108,255, .9) !important;
    border-color: rgba(105,108,255, .9) !important;
}
